@model IEnumerable<WebApi.Models.Cita>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdMedico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombrePaciente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaCita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Razon)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombrePaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Razon)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
